@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Imprima';
}

:root {
  --primary-color: #0F3663;
  --success-color: #00B227;
  --danger-color: #FF2727;

  --background: #F2F3F9; 
  --neautral-color: #E3E4E9;
  --black: #000000;
  --white: #FFFFFF;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: var(--background);
}

main {
  flex: 1;
  position: relative;
}