.user-wrapper {
    display: flex;
    flex-direction: column;
  position: relative;
  padding: 4rem 3rem;
  gap: 2rem;
}

.user-top {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.user-info {
    background-color: white;
    flex: 2;
    padding: 2rem;
    border-radius: 2rem
}
.user-wallet {
    background-color: white;
    flex: 1;
    padding: 2rem;
    border-radius: 2rem
}

.user-transaction {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    height: 100%;
}

.user-transaction table {
    width: 100%;
}