@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Imprima';
}

:root {
  --primary-color: #0F3663;
  --success-color: #00B227;
  --danger-color: #FF2727;

  --background: #F2F3F9; 
  --neautral-color: #E3E4E9;
  --text-dark: #000000;
  --text-light: #FFFFFF;
}

body {
  background-color: var(--background);
}

.header-wrapper {
  top: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;

  position: absolute;
  z-index: 10;
  font-size: 0.75rem;
}

.header-right {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.hero-container {
  position: relative;
  height: 100vh;
  background-image: url("/src/assets/hero/Image.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.hero-title {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.hero-subTitle {
  font-size: 2.5rem;
  padding-bottom: 2rem
}

.hero-description {
  font-size: 1.5rem;
}

.hero-data {
  z-index: 2;
  display: flex; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-badge-container {
  display: flex;
  gap: 3rem
}

.hero-badge {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
}

.hero-button {
  background-color: white;
  padding: 2rem 2rem;
  color: var(--primary-color);
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
}