.hero-container {
  position: relative;
  height: 100vh;
  background-image: url("/assets/hero.png");

  background-size: cover;
  background-position: center;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 3rem;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.hero-title {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.hero-subTitle {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.hero-description {
  font-size: 1.5rem;
}

.hero-data {
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-badge-container {
  display: flex;
  gap: 3rem;
}

.hero-badge {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
}

.hero-button {
  background-color: white;
  padding: 2rem 2rem;
  color: var(--primary-color);
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
}

.why-section,
.goal-section {
  padding: 2rem;
}

.section-title {
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.section-wrapper {
  background-color: var(--white);
  width: 100%;
  min-height: 350px;
  border-radius: 30px;
  box-shadow: -5px -5px 50px 0 rgba(0, 0, 0, 0.25);
}

.action-section {
  background-image: url("../assets/cta.png");
  background-size: cover;
  background-position: center;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action-title {
  color: var(--white);
  text-align: center;
  font-size: 2.5rem;
}

.action-button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2rem 10rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.section-text {
  padding: 4rem;
  font-size: 2rem;
}


@media (max-width: 768px) {
  .hero-data {
    flex-direction: column;
    gap: 2rem;
  }

  .hero-content {
    padding-top: 10rem;
  }

  .hero-badge-container {
    gap: 1rem;
  }

  .hero-badge {
    padding: 1rem;
  }
  .hero-button {
    padding: 1rem 3rem;
  }

  .hero-container {
    height: 110vh;
  }

  .action-section {
    height: 70vh;
  }

  .action-button {
    padding: 2rem 5rem;
  }
}
