@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Imprima';
}

:root {
  --primary-color: #0F3663;
  --success-color: #00B227;
  --danger-color: #FF2727;

  --background: #F2F3F9; 
  --neautral-color: #E3E4E9;
  --black: #000000;
  --white: #FFFFFF;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: var(--background);
}

main {
  flex: 1;
  position: relative;
}

.header-wrapper {
  top: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;

  position: absolute;
  z-index: 10;
  font-size: 0.75rem;
}

.header-left {
  display: flex;
  gap: 2rem;
}

.header-right {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: var(--primary-color);
  background-color: var(--white);
}

.footer-left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-contact-info {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-right {
  display: flex;
  gap: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.footer-section-links {
  text-decoration: none;
  color: var(--primary-color);
}