.map-wrapper {
  position: relative;
  padding: 6rem 3rem;
  background-image: url("../../public/assets/hero/hero1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.map-container {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.sensor-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: flex-end;

  animation: fadeIn 0.2s ease-out forwards;
}

.sensor-panel {
  position: fixed;
  top: 10%;
  right: 5%;
  height: 80%;
  width: 30%;

  background-color: white;
  border-radius: 1.5rem;
  padding: 2rem;

  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.15);

  transform: translateX(100%);
  animation: slideIn 0.25s ease-out forwards;

  pointer-events: auto;
}

.mission-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-button {
  color:var(--primary-color);
  padding:0rem 1rem;
  border: none; 
  background:none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.sensor-panel form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sensor-panel label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.create-campaign-btn {
  margin-top: 1rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}