.quest-detail-wrapper {
  position: relative;
  padding: 6rem 3rem;
  background-image: url("../../public/assets/hero/hero1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-detail-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.quest-detail-container {
  background-color: white;
  z-index: 2;
  padding: 2rem;
  border-radius: 2rem;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: -5px -5px 50px 0 rgba(0, 0, 0, 0.25);

}

.back-button,.join-button,.claim-button {
    padding: 0.75rem 3rem;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.claim-button {
    color: var(--success-color);
}

.quest-detail-container li, p {
    font-size: 1.25rem;
}