.register-wrapper {
  position: relative;
  padding: 4rem 3rem;
  background-image: url("../assets/hero/Image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.register-container {
  position: relative;
  background-color: white;
  z-index: 2;
  padding: 2rem;
  border-radius: 2rem;
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#register-form > div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.register-input {
    padding: 0.5rem 1rem;
}

.register-button {
    padding: 0.5rem 3rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

#register-form span {
    display: flex;
    justify-content: space-around;
}

.login-nav-button {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}