.user-wrapper {
  position: relative;
  padding: 6rem 3rem;
  gap: 2rem;

  background-image: url("/assets/hero.png");

  background-size: cover;
  background-position: center;
}

.user-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.user-container {
  position: relative;
  z-index: 2;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.user-info {
  background-color: white;
  display: flex;
  flex: 2;
  padding: 2rem;
  border-radius: 2rem;
}
.user-wallet {
  background-color: white;
  flex: 1;
  padding: 2rem;
  border-radius: 2rem;
}

.user-transaction {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}

.user-transaction table {
  width: 100%;
}

.mission-list-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
}

.mission-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  width: 100%;
  box-sizing: border-box;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 1rem 0;
  scroll-behavior: smooth;
}

.mission-list > * {
  flex: 0 0 auto;
  max-width: 100%;
  background-color: white;
}

body {
    overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 768px) {
    .user-wrapper {
        padding: 12rem 3rem;
    }
    .user-top {
        flex-direction: column;
    }
    .user-info {
        flex-direction: column;
    }
}